body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu-lateral {
    width: 200px;
    background: #2c3e50;
    color: white;
    padding: 10px;
    height: 100vh;
    position: fixed;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral ul li {
    padding: 10px;
}

.menu-lateral ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.conteudo {
    margin-left: 220px;
    padding: 20px;
}